.header__block {
  background: no-repeat center/80%
    url(https://preview.redd.it/1iw0tfd0eax41.jpg?auto=webp&s=c929962004dc480a876fcb478258bce12cfb42c6);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  height: 200px;
  text-shadow: rgb(0, 20, 20) 0 0 10px;
  width: 100%;
  margin-bottom: 30px;
}
